.title{
	position: relative;
}

.title1{
	position: absolute;
	top:14px;
	margin: auto;
	font-family: 'Raleway', sans-serif;
}

.y{
	position: absolute;
	left: 113px;
	width:45px;
	top: 0px;
}


body{
	font-family: 'Arvo', serif;
}

h1{
	color: black;
	text-align: left;
}

.subhead{
	text-align: left;
	font-size:17px;
	position: absolute;
	top: 50px;
	right: 720px;
	font-family: 'Arvo', serif;
	margin-top:7px;
}

.social{
	padding:10px;
}

.slider{
	max-width: 70%;
	position: relative;
}

.announce{
	display: block;
	float: right;
	position: absolute;
	left: 900px;
	top: 150px;
	font-family: 'Arvo', serif;
	line-height: 200%;

}

.s{
	width: 60px;
	float: left;
}

.announcements{
	margin: auto;
	line-height: 200%;
}

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Arvo', serif;
    position: absolute;
    left: 40px;
}

/* Add a black background color to the top navigation */

.topnav{
    background-color; white;
    overflow: hidden;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding-top: 6px;
}


.topnav1{
    float: left;
    display: block;
    color: black;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.icons{
	width:35px;
	float: right;
}



/* Style the links inside the navigation bar */

.topnav a{
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
    text-decoration: underline;

 }

 /* Add a color to the active/current link */

 .topnav a.active {
    background-color: #4CAF50;
    color: white;

 }

.section{
	text-align: left;
	padding-left: 20px;
}

h2{
	font-family: 'Raleway', sans-serif;
}

.upcoming{
	width:50%;
}

.upcomingtext{
	line-height: 200%;
	padding-left:20px;
}

.videos{
	padding-left: 20px;
}

.pressphoto{
	width: 250px;
}

.about1{
	line-height: 200%;
	width: 50%;
}

.test1{
	text-align: right;
	font-size: 20px;
}

.test2{
		text-align: right;
	font-size: 20px;
}

.contact{
	float: left;
	width: 50%;
	line-height: 200%;
}

.form{
	float:right;
}


